.storageWrapper {
    position: relative;
    height: 150px;
}
.storage {
    position: absolute;
    width: 718px;
    height: 125px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #78e4d2;
    display: block;
    text-align: center;
    line-height: 125px;
    outline: 1px solid black;
    padding: 0;
    justify-content: space-between;
    z-index: 999;
    margin-left: 103px;
}
.storage img:nth-child(1) {
    padding-top: 12px;
    padding-left: 20px;
    float: left;
    vertical-align: middle;
    height: 100px;
    margin: 0;
}
.storage h1 {
    width: fit-content;
    display: inline;
    vertical-align: middle;
}
.storage img:nth-child(3) {
    height: 64px;
    width: 64px;
    transition: all .3s ease-in-out;
    float: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.storageDetails {
    overflow: hidden;
    position: absolute;
    left: 123px;
    top: 20px;
    width: 640px;
    display: block;
    outline: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    height: 0;
}
.storageDetails table {
    width: 100%;
}
.storageDetails td {
    text-align: right;
    width: 50%;
}
.storageDetails button {
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
}
.favouritedItem {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favouritedItem h2 {
    line-height: 40px;
    margin-left: 10px;
    font-weight: 500;
}



.favouritedItem input {
    text-align: center;
    padding: 10px;
    margin: 0;
    width: 25%;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 15px;
    outline: none;
}


.favouritedItem img {
    margin-top: 5px;
    margin-right: 10px;
}
