.storageInfo {
    position: absolute;
    left: -800px;
    top: 200px;
    padding: 10px;
    border: 2px solid #90e5d8;
    width: 717px;
    height: 566px;
    background-color: white;
    z-index: 9999;
}
.storageInfo button {
    background-color: transparent;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 2px solid black;
}
.storageInfo table {
    margin: 0;
    margin-top: -40px;
    margin-bottom: -50px;
    padding: 0;
    width: 100%;
}
.storageInfo td {
    width: 50%;
}
.storageInfo h1 {
    float: right;
    transform: rotate(45deg);
    font-size: 50px;
}
.generalInfo {
    margin-top: 103px;
    width: 348px;
    display: inline-block;
    vertical-align: text-bottom;
}
.generalInfo div {
    margin-left: 24px;
    width: 300px;
    margin-bottom: 50px;
    display: block;
    text-align: left;
}
.generalInfo img {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}
.generalInfo h2 {
    margin-left: 20px;
    display: inline;
    width: fit-content;
    vertical-align: middle;
}
.storageInfo input {
    font-size: larger;
    margin-left: 10px;
    display: inline;
    width: fit-content;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-weight: 700;
    width: 200px;
}
.generalInfo a {
    text-decoration: none;
    color: black;
}
.locationInfo {
    display: inline-block;
    vertical-align: text-bottom;
    width: 348px;
    text-align: center;
}
.locationInfo h2 {
    margin: 0;
}