.storageInfo {
    position: absolute;
    left: -800px;
    top: 200px;
    padding: 10px;
    border: 2px solid #90e5d8;
    width: 717px;
    height: 566px;
    background-color: white;
    z-index: 9999;
}
.storageInfo h1 {
    float: right;
    transform: rotate(45deg);
    font-size: 30px;
}
.generalInfo {
    margin-top: 103px;
    width: 348px;
    display: inline-block;
    vertical-align: text-bottom;
}
.generalInfo div {
    margin-left: 24px;
    width: 300px;
    margin-bottom: 50px;
    display: block;
    text-align: left;
}
.generalInfo img {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}
.generalInfo h2 {
    margin-left: 20px;
    display: inline;
    width: fit-content;
    vertical-align: middle;
}
.generalInfo a {
    text-decoration: none;
    color: black;
}
.locationInfo {
    display: inline-block;
    vertical-align: text-bottom;
    width: 348px;
    text-align: center;
}
.locationInfo h2 {
    margin: 0;
}